body{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
form{
    text-align: center;
    margin-top: 50px;
}


header{
    border: 1px solid whitesmoke;
}

/* style for nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: whitesmoke;
    
  }
  
  li {
    float: right;
    font: bolder;


  }
  
  li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.item{
      margin-top: 20px;
      background: #333;
      
  }
  
  li a:hover {
    background-color: #111;
  }
  .logo a:hover{
      background: none;
  }
.row{
    text-align: center;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 20px;
}

  input{
      width: 260px;
      height: 20px;;

  }

  label{
      font:bolder;
      font-family: Arial, Helvetica, sans-serif;
  }
button{
    background: lightblue;
    width: 100px;
    height: 35px;
    margin-left: 12px;
    font-size: 1.5em;
    border-radius: 5px;
}

button:hover{
    background: blue;
}